# Urls
API_URL=http://localhost:8080/api
LOCAL_DATABASE_URL=postgres://admin:password123@postgres:5437/db_admin

# Times
TIME_TO_PING=15 # unused
TIME_TO_CALC_LATENCY=10 #unused
DELAY_TIME=15

# Database config
POSTGRES_DB=db_admin
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
EMBEDDED_WORKER=0