# Urls
API_URL=http://localhost:8080/api
LOCAL_DATABASE_URL=postgres://admin:password123@postgres:5437/db_admin

# Times
TIME_TO_PING=15 # unused / seconds
TIME_TO_CALC_LATENCY=10 #unused / seconds
DELAY_TIME=15 # minutes
TIME_TO_CLEAR_OLD_DATA=4 # hours
TIME_TO_REGISTER_STATUS=15 # minutes

# Options
CLEAR_OLD_DATA_ON_START=true # default true

# Values
SIZE_OF_HEARTBEATS_TO_CALC_LATENCY=25
SIZE_OF_STATUS_DATA_AFTER_CLEAR=50

# Database config
POSTGRES_DB=db_admin
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_PORT=5437
MIGRATE_ON_RUN=false

# Build
EMBEDDED_WORKER=0